.wrap {
  background-image: url("./body.png");
  background-repeat: no-repeat;
  background-size:cover;
  height: 555px;
  margin-top: "0px";
}

.container{
  margin: 0px auto; 
  padding-top: 15px;
  width: 600px;
}
